<!DOCTYPE html>
<html>
<head>
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ welcome_message }}</h1>
  <p>Owner: {{ app_owner }}</p>
  <p>Deployed to: {{ inventory_hostname }}</p>
</body>
</html>
